<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
    </head>
    <body>
        <div id="title">Contact</div>
        <div>
        <p>If I'm unresponsive on the chat feature, feel free to send a message to my email.</p>
        <input placeholder="Name"> <br>
        <input placeholder="Email" type="email"> <br>
        <textarea  placeholder="Message"> </textarea><br>
        <button onClick="window.location.reload();"> Submit </button>
        
    </div>

    </body>
</html>