body {
  font-family: "Fredoka", sans-serif;
  padding-bottom: 100px;
}

ul {
  position: absolute;
  
}

li {
  display: inline-flex;
  padding-right: 100px;
}

.iteminfo {
  height: 75%;
  padding-top: 15%;
  font-weight: bold;
  text-align: center;
}

figcaption {
  font-weight: bold;
  text-align: center;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-valid {
  border-color: green;
}

#chk {
  text-align: center;
  margin-block: 20px;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 25px;
}

#rw {
  position: absolute;
  top: 120px;
  left: 25%;
  margin-block: 20px;
  font-size: 20px;
  font-weight: bold;
}

#Per {
  position: absolute;
  top: 100px;
  right: 12%;
}

#pi {
  text-align: center;
}

#Pay {
  position: absolute;
  top: 470px;
  right: 12%;
}

#xc {
  position: absolute;
  top: 625px;
  right: 12%;
}

.storeimg {
  width: 150px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  width: 50%;
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 25px;
  margin-bottom: 30px;
}

#data {
  right: 150px;
}

.button {
  background-color: black;
  color: white;
  padding: 1%;
  border-radius: 2px;
  font-family: "Fredoka", sans-serif;
}

.cards {
  position: absolute;
  width: 110px;
  height: 25px;
  right: 12.5%;
  top: 582px;
}

input[type="text"] {
  width: 90%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="number"] {
  width: 90%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="email"] {
  width: 90%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="tel"] {
  width: 90%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="month"] {
  width: 90%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#quantity {
  width: 30px;
}

#sameadr {
  position: absolute;
  right: 15%;
  top: 678px;
}

#purchase {
  position: absolute;
  top: 715px;
  right: 10%;
}

#purchase:hover {
  color: red;
}

#cvc {
  width: 50px;
}

#exp {
  width: 155px;
}

#name {
  width: 350px;
}

#card {
  width: 350px;
}

#state {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#Per, #Pay, #xc, #cards,#sameadr{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}