body{
  font-family: 'Fredoka', sans-serif;
}

#chk{
  text-align: center;
  margin-block: 20px;
  font-size: 20px;
  font-weight: bold;
}

#rw{
  text-align: center;
  margin-block: 20px;
  font-size: 20px;
  font-weight: bold;
}

#Per{
  position: absolute;
  top: 100px;
  right: 200px;
}

#pi{
  text-align: center;
}

#Pay{
  position: absolute;
  top: 400px;
  right: 200px;
}

#xc{
  position: absolute;
  top: 530px;
  right: 200px;
}

.storeimg{
  width: 150px;
}

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#data{
  right:150px;
}

.button{
  background-color: black;
  color:white;
  padding: 1%;
  border-radius: 2px;
  font-family: 'Fredoka', sans-serif;
}

.cards{
  position: absolute;
  width: 125px;
  height: 28px;
  right: 198px;
  top: 488px;
}

#quantity{
  width:30px;
}

#purchase{
  position: absolute;
  top: 600px;
  right: 100px;
}

#purchase:hover{
  color:red;
}

#cvc{
  width:50px;
}

#exp{
  width:144px;
}

#name{
  width:350px;
}

#card{
  width:350px;
}

#state{
  width:172px;
  height:21px;
}
