<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>
<body>
<div id="chk">Checkout</div>
<div>
  <table id="rw" >
    <th colspan="2">Review Items</th>
    <tr class="items">
      <tr *ngFor="let cartitem of cart">
      <td><figure><img src="../../assets/images/placeholder.jpg" class="storeimg">
        <figcaption>{{cartitem.item.name}}</figcaption></figure></td>
      <td>
        <table>
          <tr>Price: {{cartitem.item.price | currency}}</tr>
          <tr>Quantity: {{cartitem.quantity}}</tr>
          <tr>Total: {{cartitem.quantity*cartitem.item.price | currency}}</tr>
        </table>
      </td>
      </tr>
  </table>
</div>
<div class="form-group">
<form class="form" [formGroup]="checkoutForm" (ngSubmit)="checkout(cart)" novalidate>
<h2 style="text-align: left; padding-left: 5%;">Total: {{findsum() | currency}} </h2>
<table id="Per">
  <tr>
  <th colspan="2">Personal Info</th>
  </tr>
  <tr>
    <td>First name</td>
    <td>Last name</td>
  </tr>
  <tr>
    <td><input type="text" id="fname" name="fname" formControlName="fname"></td>
    <td><input type="text" id="lname" name="lname" formControlName="lname"></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>Email</td>
  </tr>
  <tr>
    <td><input type="tel" id="phone" placeholder="123-456-7890" name="phone" formControlName="phone"></td>
    <td><input type="email" id="email" placeholder="john@example.com" name="email" formControlName="email"></td>
  </tr>
  <tr>
    <td>Country</td>
    <td>State</td>
  </tr>
  <tr>
    <td><input type="text" id="country" name="country" formControlName="country"></td>
    <td>
      <select id="state" formControlName="state">
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
    </select>
    </td>
  </tr>
  <tr>
    <td>Street Address</td>
    <td>Address line 2</td>
  </tr>
  <tr>
    <td><input type="text" id="address" name="address" formControlName="address"></td>
    <td><input type="text" id="line2" name="line2" formControlName="line2"></td>
  </tr>
  <tr>
    <td>City</td>
    <td>ZIP Code</td>
  </tr>
  <tr>
    <td><input type="text" id="city" name="city" formControlName="city"></td>
    <td><input type="number" id="zip" name="zip" formControlName="zip"></td>
  </tr>
</table>
<table id="Pay">
  <th>Payment Info</th>
  <tr>Name on Card</tr>
  <tr><input type="text" class="form-control" id="name" formControlName="name"></tr>
  <tr>Card Number</tr>
  <tr><input type="text" id="card" name="card" placeholder="4000 1234 5678 9010" formControlName="card"></tr>
</table>
<table id="xc">
  <tr>
    <td>Exp Date</td>
    <td><input type="month" id="exp" name="exp" formControlName="exp"></td>
    <td>CVC</td>
    <td><input type="number" id="cvc" minlength="3" maxlength="4" name="cvc" formControlName="cvc"></td>
  </tr>
</table>
<img src="../../assets/images/cards.png" class="cards" alt="cards">
<label id="sameadr">
  <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
</label>
    <button class="button" type="submit" id="purchase" [disabled]="!checkoutForm.valid">Purchase Items</button>
</form>
</div>
<!--
<br>
<p>Form value: {{ checkoutForm.value | json }}</p>
<p>Form status: {{ checkoutForm.status | json }}</p>
<p>Fname status: {{ checkoutForm.controls['fname'].status | json }}</p>
<p>Lname status: {{ checkoutForm.controls['lname'].status | json }}</p>
<p>Phone status: {{ checkoutForm.controls['phone'].status | json }}</p>
<p>Email status: {{ checkoutForm.controls['email'].status | json }}</p>
<p>Country status: {{ checkoutForm.controls['country'].status | json }}</p>
<p>State status: {{ checkoutForm.controls['state'].status | json }}</p>
<p>Address status: {{ checkoutForm.controls['address'].status | json }}</p>
<p>City status: {{ checkoutForm.controls['city'].status | json }}</p>
<p>ZIP status: {{ checkoutForm.controls['zip'].status | json }}</p>
<p>Name status: {{ checkoutForm.controls['name'].status | json }}</p>
<p>Card status: {{ checkoutForm.controls['card'].status | json }}</p>
<p>exp status: {{ checkoutForm.controls['exp'].status | json }}</p>
<p>CVC status: {{ checkoutForm.controls['cvc'].status | json}}</p>
-->
</body>
