
  <div id="titl">Products</div>
  <app-search-bar (getItems)="getItems()"></app-search-bar>
  <div id="admin_view" *ngIf="adminLoggedIn()">
    <p id="view_status">
      <u><b>USER VIEW</b></u>
    </p>
    <button id="switch_view" routerLink="/admin">
      Click to switch to admin inventory management view
    </button>
  </div>
  <div *ngIf="items.length == 0" style="text-align: center">
    No items found.
  </div>
  <ul class="items">
    <li *ngFor="let item of items">
      <div class="boxes" >
        <img src="{{item.imageLink}}" class="storeimg" />
        <div>{{ item.name }}</div>
        <div>${{ item.price }}</div>
        <div *ngIf="item.stock>0 else oos;">
        <button id="more" (click)="viewMore(item)">View More</button>
      </div>
      <ng-template #oos><button id="oos">Out of Stock</button></ng-template>
      </div>
    </li>
  </ul>

  <div id="myModal" class="modal" [style.display]="displayNone">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="viewLess()">&times;</span>
      <img src={{selectedItem.imageLink}} class="storeimg" id="viewPic" />
      <div class="prodName">{{ selectedItem.name }}</div>
      <div class="prodName">${{ selectedItem.price }}</div>
      <div [style.display]="showSizes" class="siz">
        <span
          class="selec"
          (click)="select('S')"
          [style.background-color]="scolor"
          >Small</span
        >
        <span
          class="selec"
          (click)="select('M')"
          [style.background-color]="mcolor"
          >Medium</span
        >
        <span
          class="selec"
          (click)="select('L')"
          [style.background-color]="lcolor"
          >Large</span
        >
        <span
          class="selec"
          (click)="select('XL')"
          [style.background-color]="xlcolor"
          >Extra Large</span
        >
      </div>
      <div [style.display]="showFrames" class="fram">
        <span
          class="selec"
          (click)="select('x9')"
          [style.background-color]="x9color"
          >9"x20"</span
        >
        <span
          class="selec"
          (click)="select('x19')"
          [style.background-color]="x19color"
          >19"x30"</span
        >
      </div>
      <div style="text-align: center">
        <button id="add" *ngIf="selected" (click)="add()">Add to cart</button>
      </div>
    </div>
  </div>
