* {
  font-family: "Fredoka", sans-serif;
}
#titl {
  text-align: center;
  margin-block: 20px;
  font-size: 20px;
  font-weight: bold;
}
#admin_view {
  border-color: black;
  border-width: 1px;
  border: solid;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
}
#view_status {
  text-align: center;
  margin-block: 20px;
  font-size: 20px;
  color: red;
}
#switch_view {
  margin-bottom: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
  border-width: 0px;
  padding: 10px;
  cursor: pointer;
}
ul {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}
li {
  display: inline-block;
  list-style-type: none;
  width: 19%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 200px;
  background-color: lightslategray;
}
li span {
  text-align: center;
}
.storeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-top: 15px;
}
.items div {
  text-align: center;
  margin-top: 2%;
}

#add {
  left: 50%;
  background-color: #000;
  color: white;
  padding: 5%;
  border-radius: 4px;
  border-color: black;
}

#add:active {
  color: red;
}
