nav {
  display: block;
  line-height: 80px;
  height: 80px;
  background-color: #000;
  font-weight: bold;
}

nav #desktop-links {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding-right: 20px;
}
nav #desktop-links li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
  color: rgb(202, 202, 202);
  text-decoration: none;
}
nav img {
  height: 25px;
}

#mentit {
  margin-left: 30px;
  font-size: 30px;
}

#banim {
  width: 100%;
}

.auth-button {
  float: right;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.green {
  background-color: rgb(63, 128, 128);
}

.avatar img {
  float: right;
  border-radius: 50%;
  height: 50px;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 10px;
}

.account-dropdown {
  position: absolute;
  right: 10px;
  top: 70px;
  width: 200px;
  line-height: 20px;
  color: white !important;
  background-color: rgb(202, 202, 202);
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.account-dropdown .badge {
  right: 0px;
  width: 180px;
  display: inline-block;
  font-size: small;
  word-wrap: break-word;
  color: white;
  background-color: #2f2f2f;
  text-align: center;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;
  cursor: pointer;
}

.red {
  background-color: rgb(148, 44, 13) !important;
}
