img{
    border-radius: 50%;
    width: 20%;
    margin: auto;
    margin-top: 5%;
    display: block;
}

h1{
    text-align: center;
}
.hhh{
    background-color: white;
    width: 40%;
    margin-left:30%;
    margin-right:30%;
    border-radius: 20px;
    padding: 10px;
  }