* {
  font-family: "Fredoka", sans-serif;
}

#title {
  text-align: center;
  margin-block: 1.5%;
  font-size: xx-large;
  font-weight: bold;

  background-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 25px;
}

table {
  width: 60%;
  border-collapse: collapse;
}

ul {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  padding: 0;
}
li {
  display: inline-block;
  list-style-type: none;
  width: 19%;
  margin-left: 1%;
  height: 200px;
  background-color: lightslategray;
  margin-bottom: 30px;
}
li span {
  text-align: center;
}

.storeimg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.items {
  text-align: center;
  margin: auto;
}

#center {
  text-align: center;
  margin: auto;
}

th,
td {
  border-bottom: 2px black solid;
  padding: 10px;
}

#quantity {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 55%;
  outline: none;
  border-bottom: 1px solid rgb(121, 121, 121);
  margin-bottom: 10px;
  transform: translateX(6px);
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-family: "Fredoka", sans-serif;
  transform: translateY(12px);
}
.button:hover {
  background-color: rgb(79, 79, 79);
  cursor: pointer;
}

#remove {
  border-radius: 50%;
  background-color: rgb(223, 55, 55);
  text-align: center;
  color: white;
  border: none;
  height: 30px;
  width: 30px;
}

#remove:hover {
  background-color: rgb(173, 57, 57) !important;
  cursor: pointer;
}

h2 {
  margin: 0;
}

#checkout {
  position: fixed;
  text-align: center;
  right: 50px;
  bottom: 50px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

#checkout-button {
  font-size: large;
  margin-bottom: 5%;
  padding: 10px 15px 10px 15px;
  background-color: rgb(71, 167, 71);
}

#checkout-button:hover {
  background-color: rgb(53, 106, 53);
  cursor: pointer;
}

.lo {
  background-color: white;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 25px;
  padding: 20px;
}

.car {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
}
