<div id="titl">Cart</div>
<div>
    <table id ="center">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Total</th>
          </tr>

          <tr class="items">
            <tr *ngFor="let cartitem of cart">
              <th><figure><img src="../../assets/images/placeholder.jpg" class="storeimg">
               <figcaption>{{cartitem.item.name}}</figcaption></figure></th> 
                <th>${{cartitem.item.price}}</th>
                <th><label for="quantity">{{cartitem.quantity}}</label></th>
                <th><button>x</button></th>
                <th>${{cartitem.quantity}}*{{cartitem.item.price}}</th>
            </tr>

    </table>
</div>