<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <button id="back" routerLink="/store">Back</button>
  <h1>Inventory Management</h1>
  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
      <th>Extra Large</th>
      <th>9"x20"</th>
      <th>19"x30"</th>
      <th>Image Link</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <input
            [(ngModel)]="item.name"
            (change)="saveItem(item)"
            type="name"
            value="{{ item.name }}"
          />
        </td>
        <td>
          $<input
            [(ngModel)]="item.price"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.price }}"
            min="0.01"
            onkeyup="this.value = 
            !!this.value 
            && Math.abs(this.value) >= 0.01 ?
             Math.abs(this.value) : null"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.s"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.s }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.m"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.m }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.l"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.l }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.xl"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.xl }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.x920"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.x920 }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.x1930"
            (change)="saveItem(item)"
            type="number"
            value="{{ item.x1930 }}"
            min="0"
            oninput="this.value = Math.round(this.value);"
          />
        </td>
        <td>
          <input
            [(ngModel)]="item.imageLink"
            (change)="saveItem(item)"
            type="imageLink"
            value="{{ item.imageLink }}">
        </td>
        <td id="delete-cell">
          <button id="delete" (click)="deleteItem(item)">
            <b>&#10006;</b>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button id="add" (click)="addItem()"><b>&#43;</b></button>
</body>
