
<div style="display: inline;">
<div id="title">About</div>

<div id="bio"> 
    <p>When Carlos Torres was growing up in Gardena back in the 80s and 90s, he 
        dreamed of dedicating his life to drawing the superheroes and fantasy artwork 
        that he saw at the comic book store down the street. Originally, Carlos thought 
        the best way to maintain a life full of art would be to become an art teacher — until 
        he learned how many years of school he would need to attend.</p>
    <br>
    <p>Since beginning his tattooing career as a teenager, Carlos has become one of the most 
        recognizable and awarded artists in the industry over the last two decades. Mostly self
        taught, Carlos spent his early years working in a couple of different tattoo shops before 
        building up both his skills and his portfolio at So. Cal Tattoo in San Pedro, CA. </p>
    <br>
    <p>These days, Carlos is known for creating black and gray realism and surrealism work that 
        you can recognize from across the room. His custom design process includes everything from 
        hiring and photographing models to editing and eventually painting and/or tattooing each original 
        art piece.</p>
    <br>
    <p>Always striving to get better, Carlos opened his own studio, The Raven and The Wolves, in October 
        2017 to be able to surround himself with artists who he knew could challenge him to learn and improve. 
        The Downtown Long Beach studio and fine art gallery currently houses several world-class artists, as well 
        as providing a venue for classes and seminars both taught by Carlos and others.</p>
    <br>
    <p>When hes not tattooing, Carlos enjoys spending time with his family, golfing, painting, sculpting, traveling, 
        photography, and catering to the every whim of his Siberian Husky, Mika.</p>
</div>

<div id="ima"><img style="width: 100%;" src="../../assets/images/carlos.jpg"></div>
</div>