* {
  font-family: "Fredoka", sans-serif;
}

.main_img {
  position: relative;
}

#banim {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  display: block;
}

.center {
  position: absolute;
  top: 0%;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.message {
  position: absolute;
  width: 100%;
  top: 45%;
  margin: auto;
  color: white;
  font-size: 400%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4), 3px -3px 8px rgba(0, 0, 0, 0.4),
    -3px 3px 8px rgba(0, 0, 0, 0.4), -3px -3px 8px rgba(0, 0, 0, 0.4);
}

.gotostore {
  width: 220px;
  height: 60px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(71, 167, 71);
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.gotostore:hover {
  background-color: rgb(60, 145, 60);
  color: rgb(228, 228, 228);
  cursor: pointer;
}
