<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <ul>
      <li>
        <input placeholder="Username" [(ngModel)]="currentUser.username" />
      </li>
      <li>
        <input placeholder="Password" [(ngModel)]="currentUser.password" />
      </li>
    </ul>

    <button id="login" (click)="onLogin()">Login</button>
    <button id="create-account" (click)="onCreateAccount()">
      Create Account
    </button>
  </body>
</html>
