<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1 class="tit">Login</h1>
    <form action="onLogin()">
      <ul>
        <li>
          <input
            placeholder="Username"
            [(ngModel)]="currentUser.username"
            name="username"
          />
        </li>
        <li>
          <input
            placeholder="Password"
            [(ngModel)]="currentUser.password"
            name="password"
          />
        </li>
      </ul>

      <button id="login" (click)="onLogin()" type="submit">Login</button>
      <button id="blogin" (click)="onCreateAccount()">
        Create Account
      </button>
    </form>
  </body>
</html>
