* {
  font-family: "Fredoka", sans-serif;
}

#title {
  text-align: center;
  margin-block: 1.5%;
  font-size: x-large;
  font-weight: bold;
}

input[type="text"],
textarea {
  padding: 10px 10px;
  margin: 6px 0;
  font-family: "Fredoka", sans-serif;
  border-radius: 25px;
  background-color: rgb(231, 231, 231);
  border: none;
}

input[name="title"],
textarea[name="message"] {
  width: 100%;
}

textarea {
  resize: vertical;
}

div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

button {
  padding: 7px 10px;
  margin-right: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: white;
  border-radius: 4px;
}

button:hover {
  background: gray;
}

li {
  list-style-type: none;
  width: 70%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50px, 0px);
  text-align: left;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(232, 232, 232);
}

input[name="announcementTitleEdit"],
textarea[id="announcementMessageEdit"] {
  width: 96.5%;
}

.announcements {
  width: 100%;
}
