<body>
  <div>
    <form>
      <input type="text" placeholder="Title" name = 'title' [(ngModel)]="title">
      <textarea id="message" placeholder="Message" name="message" rows="5" cols="50" [(ngModel)]="message"></textarea>
      <button (click)="onSubmit()">Submit</button>
    </form>
  </div>
  <ul class="announcements">
    <li *ngFor="let announcement of announcements">
          <h1 *ngIf="!announcement.editing">{{announcement.title}}</h1>
          <input *ngIf="announcement.editing" type="text" name = 'announcementTitleEdit' [(ngModel)]="announcementTitleEdit">
          <p *ngIf="!announcement.editing">{{announcement.message}}<p>
          <textarea *ngIf="announcement.editing" id="announcementMessageEdit" rows="5" cols="50" [(ngModel)]="announcementMessageEdit"></textarea>
          <p style="font-size: small;">{{getTime(announcement.timestamp)}}</p>
          <button *ngIf="!announcement.editing" (click)="onEdit(announcement)">Edit</button>
          <button *ngIf="announcement.editing" (click)="onEditSubmit(announcement)">Submit</button>
          <button (click)="onDelete(announcement)">Delete</button>
    </li>
  </ul>
</body>
