* {
  font-family: "Fredoka", sans-serif;
}

.search input[type="text"] {
  float: left;
  margin: 0 auto;
  display: block;
  padding: 6px;
  margin-left: 4%;
  margin-right: 0%;
  font-size: 15px;
  width: 85%;
  padding: 10px;
  padding-left: 20px;
}

.search input[type="text"]:focus {
  outline: none;
}

.search button {
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: "Fredoka", sans-serif;
  border: none;
  margin: 0px;
  margin-left: 1%;
}

.search button:hover {
  background: gray;
  cursor: pointer;
}

input {
  width: 500px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin: 3px;
  background-color: rgb(231, 231, 231);
  border: none;
  margin-left: 2%;
}

form {
  padding: 1%;
}

#NonEmpty {
}
