


.search input[type=text] {
  float:left;
  margin: 0 auto;
  display: block;
  padding: 6px;
  font-size: 17px;
  width: 90%;
}

.search button {
    background-color:  #000;
    color: white;
    padding: 1%;
    border-radius: 4px;
    font-family: 'Fredoka', sans-serif;
    border-color: black;
    margin-left: 1%;
}

.search button:hover {
  background: gray;
}

input {
  width: 500px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin: 3px;
  background-color: rgb(231, 231, 231);
  border: none;
  margin-left: 2%;
}

form{padding:1%}
