* {
  font-family: "Fredoka", sans-serif;
}

.search {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 7px;
  padding-bottom: 5px;
}

.search input[type="text"] {
  float: left;
  margin: 0 auto;
  display: block;
  margin-left: 3%;
  margin-right: 0%;
  font-size: 15px;
  width: 85%;
  padding: 14px;
  padding-left: 25px;
}

.search input[type="text"]:focus {
  outline: none;
}

.search img {
  width: 45px;
  height: auto;
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.search img:hover {
  cursor: pointer;
}

input {
  width: 500px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin: 3px;
  background-color: rgb(231, 231, 231);
  border: none;
  margin-left: 2%;
}

form {
  padding: 1%;
}
