* {
  font-family: "Fredoka", sans-serif;
}

#center {
  display: block;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

button {
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 30px;
  border-width: 0px;
  background-color: rgb(99, 181, 99);
  color: white;
}

textarea {
  width: 500px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin: 3px;
  background-color: rgb(231, 231, 231);
  border: none;
}

#titl {
  text-align: center;
  margin-block: 1.5%;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 25px;
}

.messages {
  background-color: white;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 25px;
  padding: 20px;
  max-height: 50%;
}

.lo {
  background-color: white;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 25px;
  padding: 20px;
}
